body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.chat .message {
  display: inline-block;
  background: #262730;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 14px;
  margin: 5px 20px;
  max-width: 70%;
}

.chat img {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.chat .spacer {
  display: inline-block;
  width: 20%;
}

.chat.user {
  flex-direction: row-reverse;
}

.chat.user .message {
  text-align: right;
}
