body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.chat div {
  display: inline-block;
}

.chat img {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.chat.user {
  flex-direction: row-reverse;
}

.chat.user div {
  text-align: right;
}
