div.css-12oz5g7.egzxvld2 {
    display: flex;
    align-items: flex-end;
    overflow: visible;
}
  
div.css-12oz5g7.egzxvld2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(70vh - 3rem);
}
